/* Roboto source definition */
@font-face {
  font-family: 'Roboto';
  src: url('./assets/fonts/Roboto-Regular.woff2') format('woff2'),
    url('./assets/fonts/Roboto-Regular.woff') format('woff'),
    url('./assets/fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Unbounded source definition */
@font-face {
  font-family: 'Unbounded';
  src: url('./assets/fonts/Unbounded-ExtraBold.woff2') format('woff2'),
    url('./assets/fonts/Unbounded-ExtraBold.woff') format('woff'),
    url('./assets/fonts/Unbounded-ExtraBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

:root {
  /* Color Variables */
  --light: #f8fafc;
  --dark: #334155;
  --cyan: #67e8f9;

  /* Fallback Font Stack */
  --font-fallback: Inter, system-ui, Arial, sans-serif;

  /* Font Settings */
  --font-family: 'Roboto', var(--font-fallback);
  --font-family-unbounded: 'Unbounded', var(--font-family);

  /* Font Size Variables */
  --heading-font-size: calc(2.4rem + 0.5vw);
  --font-size: calc(1rem + 0.5vw);
}

/* Global Styles */
html {
  font-size: 62.5%;
}

body {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)),
    url('/background.jpg');
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--font-size);
  min-height: 100vh;
  min-width: 320px;
  padding: 0 1rem;
}

/* Headings */
.app-title {
  font-family: var(--font-family-unbounded);
  font-size: var(--heading-font-size);
}

.app-description {
  font-size: var(--subheading-font-size);
}

.app-title,
.app-description {
  color: var(--light);
}

.app-title span {
  color: var(--cyan);
}

/* Content */
.content {
  background-color: var(--light);
  border-radius: 0.5rem;
  margin: 3rem 0;
  padding: 6rem 2rem;
}

/* Form */
.form,
.form-field {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.form label {
  color: var(--dark);
  font-weight: bold;
}

.form select {
  background-color: #e2e8f0;
  border: 2px solid transparent;
  padding: 1rem;
}

.form select:focus {
  border-color: #cbd5e1;
  outline: none;
}

.form [type='submit'] {
  background-color: var(--dark);
  border: none;
  color: var(--light);
  cursor: pointer;
  font-weight: bold;
  margin-top: 2rem;
  padding: 1.2rem 0;
  transition: background-color 0.5s ease;
}

.form select,
.form [type='submit'] {
  border-radius: 0.5rem;
}

.form [type='submit']:hover {
  background-color: #1e293b;
}

/* Base styles for alerts */
.alert {
  border-radius: 0.5rem;
  border: 1px solid transparent;
  margin-bottom: 1rem;
  padding: 1.2rem 0.5rem;
  text-align: center;
}

/* Information alert */
.info-message {
  background-color: #ebf8ff;
  color: #2b6cb0;
  border-color: #bee3f8;
}

/* Warning alert */
.warning-message {
  background-color: #fefcbf;
  color: #d69e2e;
  border-color: #fbd38d;
}

/* Error alert */
.error-message {
  background-color: #fee2e2;
  border-color: #fca5a5;
  color: #b91c1c;
}

/* Crypto Price Card */
.crypto-card {
  padding: 1rem;
  background-color: var(--light);
  border-radius: 0.5rem;
  max-width: 100%;
  display: flex;
  align-items: center;
}

.crypto-image {
  max-width: 100%;
  height: auto;
  margin-right: 1rem;
}

.crypto-info {
  flex: 1;
}

.crypto-title {
  font-family: var(--font-family-unbounded);
}

.price-value,
.crypto-detail span,
.change {
  font-weight: bold;
}

.price-value,
.positive {
  color: #16a34a;
}

.negative {
  color: #dc2626;
}

@media (max-width: 768px) {
  .crypto-image {
    width: 50%;
    max-width: 200px;
  }
}
